:root {
  --scout-hall: #FFFF80;
}

html {
  height: 100%;
}

body {
  background-color: var(--scout-hall);
  width: 100%;
	min-height: 500vh;
}

.logo {
  position: fixed;
  left:50%;
  top:50%;
  width:350px;
  transform: translate(-50%, -50%);
}

@keyframes bounce {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(60deg); }
  100% { transform: rotate(0deg); }
}

#Face {
  animation: bounce 3s ease-in-out infinite;
  transform-origin: 50% 50%;
}